div#error-code404-container.container {
    background-color: #181818;
    border-radius: 3.6rem 0;
    margin-top: 7rem;
    padding-bottom: 3.6rem;
    padding-top: 3.6rem;

    div.row {
        > div {
            cursor: default;

            h1 {
                color: #ccff00;
                font-size: 6.4rem;
            }

            a {
                border-bottom: 0.1rem solid #ffffff;
                color: #ccff00;
                transition: color 0.3s, border-bottom-color 0.3s;

                &:hover {
                    border-bottom-color: #ccff00;
                    color: #ffffff;
                }
            }
        }
    }
}
