div#homepage-index-container.container {
    background-color: #181818;
    border: 0.1rem solid #ccff00;
    border-radius: 0.3rem;
    margin-top: 7rem;
    padding-bottom: 3.6rem;
    padding-top: 3.6rem;

    @media (min-width: $screen-md-min) {
        max-width: 800px;
        width: 60%;
    }

    div.row {
        > div {
            h1 {
                cursor: default;
                margin: 0 0 7rem;
            }

            form#homepage-index-form {
                input#homepage-index-submit {
                    background-color: transparent;
                    border-color: #ccff00;
                    color: #ccff00;
                    font-size: 2.4rem;
                    font-weight: bold;
                    margin: 0;
                    padding: 0.6rem 1.8rem;
                    transition: background-color 0.3s, border-color 0.3s, color 0.3s, margin 0.3s, padding 0.3s;

                    &:hover, &:focus {
                        margin: -1.2rem;
                        padding: 1.8rem 3.2rem;
                    }
                }
            }
        }
    }
}
