extends ../layout

block content
    div#room-show-container.container.text-center
        div#join-subcontainer(class=(room.users.length < 2 ? null : "hidden"))
            div.row
                div.col-xs-12
                    | You need at least one more person

            div.row
                div.col-xs-12
                    form#room-show-invite-form
                        input#room-show-invite-button.btn.btn-default(type="submit" value="Show invite link")

                        a.hidden #{join_url}

        div#action-subcontainer(class=(room.users.length === 2 ? null : "hidden"))
            div.row
                div.col-xs-12
                    | Your friend status is
                    |
                    strong#your-friend-status.offline Offline

    input#room-id.hidden(name="room-id" type="hidden" value=room.id)
